<!-- base , rootlamazsam css ler çalışmıyor -->
<base href="/">
<%- include('components/head.ejs') %>
<link rel="stylesheet" href="stylesheets/dashboard.css">
<link rel="stylesheet" href="stylesheets/sidebar.css">
<link rel="stylesheet" href="stylesheets/add-service.css">
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <%- include('components/leftSideBar.ejs') %>

        <!-- Page Content  -->
        <div id="content">
            <%- include('components/header.ejs') %>
            <div class="add-service-container">
                <div class="sub-header">
                    <h3>Add Service</h3>
                </div>
                <div class="add-service-form ">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="name" class="form-control" id="name" aria-describedby="name">
                          </div>
                        <div class="form-group">
                          <label for="number">Amount per Hour</label>
                          <input type="number" step="0.1" class="form-control" id="number">
                        </div>
                        <div class="form-group">
                          <label for="desc">Description</label>
                          <textarea type="textarea" rows="4" class="form-control" id="desc"> </textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>

        </div>
    </div>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>
</html>