<%- include('components/head.ejs') %>
<link rel="stylesheet" href="stylesheets/dashboard.css">

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <%- include('components/leftSideBar.ejs') %>

        <!-- Page Content  -->
        <div id="content">
            <%- include('components/header.ejs') %>
            <div class="main">
                <div class="info-box left-box">
                    <h3>Last Active Clients</h3>
                </div>
                <div class="info-box right-box">
                    <h3>Last Transactions</h3>
                </div>
            </div>

        </div>
    </div>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>