<%- include('components/head.ejs') %>
<link rel="stylesheet" href="stylesheets/dashboard.css">
</head>

<body>
    <div class="dashboard-container">
        <div class="left-menu">Left Menu</div>
        <div class="right-side">Right Side</div>
    </div>
</body>