<%- include('components/head.ejs') %> 
<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body  >
  <%- include('components/header.ejs') %> 
  <header id="showcase">
    <div class="container">
        <div class="showcase-container">
            <div class="showcase-content">
                <h1>Müşterilerinizin Ödemelerini Kolayca Takip Edin</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure quis ea, distinctio rerum ratione non a pariatur, omnis ad modi nostrum voluptatem porro. Nesciunt, atque.</p>
                <a href="register" class="btn btn-primary">Kayıt Ol</a>
            </div>
        </div>
    </div>
</header>




</body>
</html>
