<!-- base , rootlamazsam css ler çalışmıyor -->
<base href="/">
<%- include('components/head.ejs') %>
<link rel="stylesheet" href="stylesheets/dashboard.css">
<link rel="stylesheet" href="stylesheets/sidebar.css">
<link rel="stylesheet" href="stylesheets/transactions.css">
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <%- include('components/leftSideBar.ejs') %>

        <!-- Page Content  -->
        <div id="content">
            <%- include('components/header.ejs') %>
            <div class="transactions-container">
                <div class="sub-header">
                    <a href="/dashboard/add-transaction" class="btn btn-primary">Add Transactions</a>
                </div>
                <div class="transaction-list">
                    Transaction List
                </div>
            </div>

        </div>
    </div>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!-- <script type="text/javascript">
        $(document).ready(function () {
            console.log(document.getElementsByTagName('td')[0].innerHTML)
            var rows = document.getElementsByTagName('td');
            console.log(rows);
            for (let i = 0; i < rows.length; i++) {
                console.log(rows[i].innerHTML)

            }

        })

    </script> -->
    <!-- <script>
        function example4() {
            var table = document.getElementById("clients-table");
            cells = table.getElementsByTagName('td');

            for (var i = 0, len = cells.length; i < len; i++) {
                cells[i].onclick = function () {
                    alert(this.innerHTML);

                }
            }
        }
        function init() { example4(); }
        window.onload = init;   
    </script> -->

    <script>
        function getTableRowClicked() {
            var tableClients = document.getElementById("clients-table");
            var tableTransactions = document.getElementById("transactions-table");
            // console.log(table.rows[1].childNodes[1].innerHTML);
            // console.log(table.rows.length);
            if (tableClients) {
                /* 0. index table header */
                for (var i = 1; i < tableClients.rows.length; i++) {
                    tableClients.rows[i].onclick = function () {
                        tableText(this);
                    };
                    tableClients.rows[i].style.cursor = 'pointer'
                }
            }
            if (tableTransactions) {
                /* 0. index table header */
                for (var i = 1; i < tableTransactions.rows.length; i++) {
                    tableTransactions.rows[i].onclick = function () {
                        tableText(this);
                    };
                    tableTransactions.rows[i].style.cursor = 'pointer'
                }
            }
    
            function tableText(tableRow) {
                var id = tableRow.childNodes[1].innerHTML;
                console.log("row id: " + id);
            }
        }
        window.onload = getTableRowClicked;
    </script>
    
</body>
</html>