body {
    background: #6E0D25;
}

#main-nav ul,
#main-nav .logo {
    justify-self: center;
}

#main-nav ul li a {
    padding: 0.40rem;
}

.dashboard-container {
    grid-template-columns: 1fr;
    /* align-items: center; */
}

#main-nav .nav-container {
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
}